
        #instruction {
            font-size: 30px; /* Adjust the font size as needed */
        }
        .card {
            display: inline-block;
            padding: 10px;
            border: 2px solid black;
            border-radius: 10px;
            margin: 5px;
            font-size: 80px; color: red;
            width: 100px;
            height: 150px;
            text-align: center;
        }

        body {
            background-color: whitesmoke; color: white;
        }

        header {
            background-color: black;
            text-align: center;
        }

        nav {
            background-color: gray; 
            overflow: hidden; 
            padding: 0; 
            margin: 0; 
            list-style-type: none;
        }

        .home {
            float: left; 
            margin-right: 20px;
            background-color: gray; 
            overflow: hidden; 
            padding: 0; 
            margin: 0; 
            list-style-type: none;
        }

        .about{
            float: auto; 
            margin-right: 20px;
            background-color: gray; 
            overflow: hidden; 
            padding: 20px; 
            margin: 0; 
            list-style-type: none;

        }

        .content {
            text-align: center; 
            color: black;
        }

        .content img{
            height: 25%;
            width: 25%;
        }

        .divider, .divider2 {
            text-align: center;
            background-color: gray;
            overflow: hidden;
        }

        .shuffle {
            background-color: green; 
            color: white;
            font-size: 24px;
            padding: 10px 20px;
            text-align: center;
        }

        .userCards{
            text-align: center;
            margin-top: 20px;
        }

        .prompt{
            display: flex; 
            flex-direction: column;
            align-items: center;
            color: black;
        }

        .actionButtons{
            list-style-type: none;
            padding: 0;
            display: inline-block;
            justify-content: center;
            width: 100%;
            text-align: center; 
            flex: 1;
            font-size: 22px; 
            font-weight: bold;
        }

